h1 {
  color: #fff;
  font-size: 4em;
  margin: 0;
}

.home h1 {
  color: #fff;
  margin-bottom: 20px;
}

.about h1,
.contact h1 {
  color: #000;
  text-align: center;
  /* pls look into making this better */
  position: relative;
  top: 100px;
}

.content a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid;
  font-size: 2em;
  padding: 5px 20px;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.content a:hover {
  background-color: #fff;
  border-color: #f33;
  color: #f33;
}

.home nav.navigation a {
  color: #fff;
}

.about nav.navigation a,
.contact nav.navigation a {
  color: #000;
}

nav.navigation a {
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 20px;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inline-block;
}

nav.navigation a:hover {
  animation-name: flash;
}

@keyframes flash {
  from {
    color: #fff;
    scale: 1;
  }
  to {
    color: #f33;
    scale: 1.1;
  }
}
